.footer {
  height: var(--footer-height);
  padding: 5px;

  text-align: center;
  line-height: 1.4;
}

.logo{
    font-size: 5rem;
    text-align:center;
    line-height: var(--logo-height);
    height: var(--logo-height);
    margin: 0;
    padding-top: 30px;
}